<html>
  <head>    
    <%= load_asset('titan.js', :base => 'assets') %>
  </head>
  <body>
    <script>
      require('bootstrap');
      require('presenters/user_details');      
    </script>
    <div class="view" data-presenter="UserDetails">
      <div data-property="name">Original</div>
      <input data-property="age" />
      <button data-name="load">Load</button>
    </div>
  </body>
</html>